.Weather {
  font-family: "Josefin Sans", sans-serif;
  max-width: 538px;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
  border: 1px solid black;
  background: linear-gradient(#87a8d0, #98ccd3, #b9ceeb, #dddddd);
  border-radius: 6px;
}

.TodayDate {
  text-align: center;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

.units {
  position: relative;
  top: -35px;
  left: 5px;
  font-size: 12px;
  margin: 0;
}

h2 {
  text-align: center;
}

.big-icon {
  position: relative;
  top: -15px;
}

.weatherTemperature {
  text-align: center;
  font-size: 70px;
}

.weather-conditions {
  text-align: center;
  font-size: 16px;
  margin: 10px;
  margin-top: -15px;
}

a {
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}

li {
  list-style: none;
}

.search-form {
  margin-top: 50px;
  text-align: center;
}

.App .git-link {
  font-size: 12px;
  text-align: center;
}